body {
    margin: 0;
    font-family: monospace;
}

.container {
    height: 100vh;
    display: flex;
}

.left {
    flex: 1;
    background-color: black;
    color: white;
    padding: 60px;
}

.right {
    flex: 1;
    background-color: white;
    padding: 60px;
    padding-top: 115px;
}


h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

h2, h3 {
    margin-bottom: 20px;
}

input {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
   
}

button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 15px;;
}

